* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
}

body {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  height: 100vh; /* Set the height of the body to the full viewport height */
  background: linear-gradient(
    130deg,
    #ffc745,
    #ff771d
  ); /* Orange linear gradient background */
}

input {
}

.search-container {
  width: 20%;
  background: linear-gradient(135deg, #ffc14f, #ff9831c9);
  padding: 5px 15px;
  position: relative; /* Add position relative */
  border-bottom: 3px solid rgba(255, 42, 10, 0.636);
}

.search-container input {
  background: transparent;
  height: 50px;
  border: none;
  outline: none;
  padding: 10px;
}

.search-container .suggestions {
}

.has-suggestions {
  background: rgba(205, 126, 0, 0.518);
}

ul {
  list-style: none;
}

ul li {
  background: transparent;
  height: 50px;
  border: none;
  outline: none;
  padding: 10px;
}

ul li:hover {
}
